{% extends 'base.html' %}

{% block title %}Log-in1{% endblock %}

{% block content %}
    <h1>Log-in1</h1>
    <p>Please, use the following form to log-in:</p>
    <form action="" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Log in"></p>
    </form>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo distinctio, rem modi beatae odit, accusamus dolore maiores sint qui error repellendus eaque dolorem ipsam accusantium vitae, voluptates suscipit vel quam.</p>
{% endblock %}